In [4]:
#1.
lst = [ 1, 2,3,56,7]
def sum_of_elements(lst):
    return sum(lst)

result = sum_of_elements(lst)
print("The sum of the elements is:", result)

The sum of the elements is: 69

In [5]:
#2.
string = "Data Science"
def string_rev(string):
    return string[::-1]
result = string_rev(string)
print(result)

ecneicS ataD

In [6]:
#3.
lst = [1 , 2, 3, 4, 5, 6]
def list_square(lst):
    return [i*i for i in lst]
result = list_square(lst)
print(result)

[1, 4, 9, 16, 25, 36]

In [8]:
#4.
num = 78
def prime_check(num):
    for i in range(1,num):
        if num % i == 0:
            return "The number is not prime"
    return "The number is prime"
result = prime_check(num)
print(result)

The number is not prime

In [10]:
#6.
def powers_of_two(max_exponent):
    for exponent in range(max_exponent + 1):
        yield 2 ** exponent  

for power in powers_of_two(5):  
    print(power)

1
2
4
8
16
32

In [11]:
#7.
def read_file_line_by_line(file_path):
    with open(file_path, 'r') as file: 
        for line in file:
            yield line.strip() 
            
file_path = 'example.txt' 

for line in read_file_line_by_line(file_path):
    print(line)

hello
This is my first file.

In [12]:
#8.
tuple_list = [(1, 3), (4, 1), (2, 5), (7, 2)]

sorted_list = sorted(tuple_list, key=lambda x: x[1])

print(sorted_list)

[(4, 1), (7, 2), (1, 3), (2, 5)]

In [14]:
#9.
celsius_temp = [0, 20, 37, 100]

fahrenheit_temp = list(map(lambda c: (9/5) * c + 32, celsius_temp))

print(fahrenheit_temp)

[32.0, 68.0, 98.60000000000001, 212.0]

In [15]:
#10.
input_string = "Hello World, Python is awesome!"
vowels = "aeiouAEIOU"
filtered_string = ''.join(filter(lambda char: char not in vowels, input_string))

print(filtered_string)

Hll Wrld, Pythn s wsm!

In [16]:
#11.
#Each sublist contains [order_number, price_per_item, quantity]
orders = [
    [34587, 40.95, 4],
    [98762, 56.80, 5],
    [77226, 32.95, 3],
    [88112, 24.99, 3]
]
result = list(map(lambda order: (order[0], order[1] * order[2] if order[1] * order[2] >= 100 else order[1] * order[2] + 10), orders))
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]